django==1.4
south
python-mysqldb
git+git://github.com/matthewwithanm/django-classbasedsettings
git+git://github.com/vencax/django-command-runner.git
git+git://github.com/vencax/django-samba-admin.git
git+git://github.com/vencax/django-sql-nss-admin.git
git+git://github.com/vencax/django-dhcp-admin.git
